{% extends '../template.html' %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/styles/base.css">
{% block content %}

<div class="w-75 mx-auto">

<h2 class="display-6 mt-4 mb-4">INSERIR CATEGORIAS</h2>
	<form onsubmit="insertCategories(event)">
		<div class="mb-3">
			<label class="form-label">Categoria</label>
			<input type="text" name="" value="" id="name" class="form-control">
		</div>

		<div class="mb-3">
			<label class="form-label">Slug</label>
			<input type="text" name="" value="" id="category" class="form-control">
		</div>

		<br>
		<div class="mb-3">
			<button type="submit" class="btn btn-success">Salvar</button>
		</div>
	</form>
</div>

{% endblock %}
{% block title %}
	Inserir categorias
{% endblock %}

{% block script %}
	<script src="/js/categories.js" charset="utf-8"></script>
{% endblock %}