{% extends '../template.html' %}

{% block title %}
	Carrinho de Compras
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/styles/cart.css">
{% endblock %}

{% block content %}
<h1 class="display-6 text-center">Meu carrinho</h1>

<div class="container">
  <div class="cart-content">
    <div id="cart" ></div>
  </div>

  <div class="cep-content">
    <div class="calc-shipping">
      <span>Insira seu cep para calcular o frete até sua casa.</span>
      <input type="text" class="form-control" id="cep" aria-describedby="desc" placeholder="Insira seu cep">
      <small id="desc" class="form-text text-muted">Insira apenas números.</small>
    </div>

    <div class="calc-button">
      <button class="btn btn-primary" onclick="calculateCep()">Calcular</button>
    </div>

    <span class="valueCep"></span>

    <div class="go-to-checkout mt-5">
      <a href="/checkout">
        <button type="button" class="btn btn-primary">Ir para o checkout</button>
      </a>
    </div>
  </div>

</div>
{% endblock %}

{% block script %}
	<script src="/js/cart.js" charset="utf-8"></script>
{% endblock %}