<!DOCTYPE html>
<html lang="ptbr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Projeto Integrador 5</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="/styles/base.css">
    {% block styles %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Página Inicial <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/text">Anotação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/insertCategories">Inserir categorias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/insertProducts">Inserir produtos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">Todos produtos</a>
          </li>
          <li class="nav-item">
            <span class="">
              <a href="/cart">
                <i class="cart fas fa-shopping-cart"></i>
                <span class="notifications badge badge-danger" id="cart-items"></span>
              </a>
            </span>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %}

    {% endblock %}
  <footer>
    
  </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" charset="utf-8"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/base.js" charset="utf-8"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>