{% extends './layouts/base.html' %}

{% block title %}
Checkout
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/styles/checkout.css">
{% endblock %}

{% block content %}
    <h1 class="display-6 text-center">Checkout</h1>

    <div class="data">
        <div class="data-left">
            <div class="data-client">
                <h5>Dados do cliente</h5>
                <span>Nome: Renan</span>
                <span>Sobrenome: Andreolla</span>
                <span>CPF: 098789123-34</span>
                <span>email: renanandreolla@teste.com</span>
            </div>
      
            <div class="data-address">
              <h5>Endereço</h5>
              <span>Cep: 99700-000</span>
              <span>Rua: Rua Olavio Bilac</span>
              <span>Bairro: Bairro Teste</span>
              <span>Numero: Numero Teste</span>
              <span>Complemento: Apto. 12</span>
            </div>
        </div>

        <div class="data-right">
            <div class="title-resume">
                <span>Detalhes do seu pedido</span>
            </div>

            <div class="">
                <div class="">
                  <div id="cart" >
                  </div>
                </div>
            </div>
        
            <!-- <div class="button-finish">
                <a href="/payment">
                    <button class="btn btn-primary">Ir para o pagamento</button>
                </a>
            </div> -->
        </div>
    </div>

    <div class="payment-section">
        <span>Selecione o método de pagamento</span>

        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    BOLETO
                    </button>
                </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body1">
                    <span>Clique no botão abaixo para gerar seu boleto:</span>
                    <a href="/confirmation">
                        <button type="submit" class="btn btn-success">Finalizar com Boleto</button>
                    </a>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    PIX
                    </button>
                </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body1">
                    <span>Realize seu pagamento escaneando o QR Code ou copie o código PIX:</span>
                    <img height="150" width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg/1200px-Link_pra_pagina_principal_da_Wikipedia-PT_em_codigo_QR_b.svg.png" alt="">
                    <span>Ou copie o código Pix para pagar em seu app bancário: 234g2u3gd23dhb2j3273djk2</span>
                    <a href="/confirmation">
                        <button type="submit" class="btn btn-success">Finalizar com Pix</button>
                    </a>
                </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    CARTÃO DE CRÉDITO
                    </button>
                </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Número do cartão </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1">    
            
                    </div>
            
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Nome impresso no cartão</label>
                        <input class="form-control" id="exampleFormControlTextarea1">
                    </div>
            
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Validade</label>
                        <input class="form-control" id="exampleFormControlTextarea1">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Código de segurança</label>
                        <input class="form-control" id="exampleFormControlTextarea1">
                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Número de parcelas</label>
                        <input class="form-control" id="exampleFormControlTextarea1" type="number">
                    </div>
            
                    <div class="mb-3">
                        <a href="/confirmation">
                            <button type="submit" class="btn btn-success">Finalizar com Cartão</button>
                        </a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="/js/checkout.js" charset="utf-8"></script>
{% endblock %}