{% extends './layouts/base.html' %}

{% block title %}
Confirmação
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/styles/confirmation.css">
{% endblock %}

{% block content %}
    <h1 class="display-6 text-center">Confirmação</h1>

    <div>
        <h2 style="color: purple;" class="display-6 text-center">Agradecemos pela sua compra, volte sempre!</h2>
    </div>

    <div class="resume-products">
        <div class="">
          <h5 class="mb-3">Meus produtos adquiridos: </h5>
          <div id="cart" >
          </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="/js/confirmation.js" charset="utf-8"></script>
{% endblock %}