{% extends '../template.html' %}

{% block title %}
Produtos
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="/styles/products.css">
{% endblock %}

{% block content %}

  {% for category in categories %}
    {% if category.products | length > 0 %}
      <h5 class="display-5 text-center"> {{ category.name }} </h5>
      <hr>
      <ul class="products">
        {% for item in category.products %}
        <li>
          <p>{{ item.name }}</p>
          <p>{{ item.price.toLocaleString('pt-BR', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) }}</p>
          <a href="/product/{{ item._id }}" class="btn btn-outline-dark btn-block btn-sm">Ver mais</a>
        </li>
        {% endfor %}
      </ul>
      <div class="clearfix"></div>
    {% endif %}
  {% endfor %}

{% endblock %}

{% block script %}
  <script src="/js/products.js" charset="utf-8"></script>
{% endblock %}