{% extends '../template.html' %}

{% block title %}
Inserir Produtos
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/styles/insertProducts.css">
{% endblock %}

{% block content %}

<div class="w-75 mx-auto">

    <h2 class="display-6 mt-4 mb-4">INSERIR PRODUTOS</h2>

    <form id="product-form" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Categoria</label>
            <select id="category" name="category" class="form-control">
                <option value="">Selecione uma categoria</option>
                    {% for item in categories %}
                        <option value="{{ item._id }}">{{ item.name }}</option>
                    {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Nome</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>

        <div class="mb-3">
            <label>Preço</label>
            <input type="number" name="price" id="price" class="form-control">
        </div>

        <div class="mb-3">
            <label for="">Descrição</label>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label for="images" class="form-label">Imagens</label>
            <input id="images" class="form-control" type="file" name="images" multiple>
        </div>

        <div class="mb-3">	
            <button type="button" id="send-button" class="btn btn-success">Salvar</button>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
  	<script src="/js/insertProducts.js" charset="utf-8"></script>
{% endblock %}