{% extends '../template.html' %}

{% block title %}
Inserir Produtos
{% endblock %}

{% block content %}

<div class="w-75 mx-auto">
    <table class="table table-striped">
        <div class="mt-5 row">
            <h2 class="display-6 mt-4 mb-4 col-8">LISTA DE PRODUTOS</h2>
            <div class="col-4">
                <a class="btn btn-success float-right w-75" style="margin-top: 12%;" href="/admin/products/add">Adicionar Produto</a>
            </div>
        </div>

        <thead class="thead-dark">
            <tr class="row">
                <th scope="col" class="col-3">Categoria</th>
                <th scope="col" class="col-3">Nome</th>
                <th scope="col" class="col-3">Preço</th>
                <th scope="col" class="col-3 d-flex justify-content-center">Ações</th>
            </tr>
        </thead>

        <tbody>
            {% for product in products %}
            <tr class="row align-middle" style="line-height: 30px;">
                <td class="col-3 align-middle text-truncate">{{ product.categories[0].name }}</td>
                <td class="col-3 align-middle text-truncate">{{ product.name }}</td>
                <td class="col-3 align-middle text-truncate">
                    {{ product.price.toLocaleString('pt-BR', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) }}
                </td>
                <td class="col-3 align-middle text-truncate">
                    <a href="/admin/products/edit/{{ product._id }}" class="btn btn-warning mr-2" style="width: 40%;">Editar</a>
                    <button type="button" class="btn btn-danger btn-remove" style="width: 40%;" id="{{ product._id }}">Excluir</button>
                </td>
            </tr>
            {% else %}
                <tr class="row align-middle">
                    <td class="col-12 align-middle d-flex justify-content-center">Não há registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block script %}
  	<script src="/js/insertProducts.js" charset="utf-8"></script>
{% endblock %}