{% extends '../layouts/base.html' %}

{% block content %}

{% block title %}
Inserir Produtos
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/styles/insertProducts.css">
{% endblock %}

<div class="container" style="margin-top: 2%">

    <h2 class="display-6 text-center">INSERIR PRODUTOS</h2>

    <form id="product-form" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Categoria</label>
            <select id="category" name="category" class="form-control">
                <option value="">Selecione uma categoria</option>
                    {% for item in categories %}
                        <option value="{{ item._id }}">{{ item.name }}</option>
                    {% endfor %}
            </select>
        </div>

        <div class="mb-3">
            <label>Nome</label>
            <input type="text" name="name" id="name" class="form-control">
        </div>

        <div class="mb-3">
            <label>Preço</label>
            <input type="number" name="price" id="price" class="form-control">
        </div>
        <br>

        <div class="mb-3">
            <label for="">Descrição</label>
            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
        </div>

        <div class="mb-3">
            <label for="images" class="form-label">Imagens</label>
            <input id="images" class="form-control" type="file" name="images" multiple>
        </div>

        <div class="mb-3">	
            <button type="button" id="send-button" class="btn btn-success">Enviar</button>
        </div>
    </form>
</div>

    {% if products | length > 0 %}
    <table class="table table-striped">
        <div class="mt-5">
            <h2 class="display-6 text-center">LISTA DE PRODUTOS</h2>
            <div id="list-products"></div>
    </div>

        <thead>
            <tr>
            <th class="thcategoryId" scope="col">ID</th>
            <th class="thname" scope="col">Nome</th>
            <th class="thprice" scope="col">Preço</th>
            <th class="thdescription" scope="col">Descrição</th>
            <th class="thurl" scope="col">URL</th>
            </tr>
        </thead>
        <tbody>
            {% for item in products %}
            <tr>
                <td class="categoryId">{{ item.category }}</td>
                <td class="nameitem">{{ item.name }}</td>
                <td class="priceitem">{{ item.price.toLocaleString('pt-BR', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) }}</td>
                <td class="descriptionitem">{{ item.description }}</td>
                <td class="urlitem">{{ item.url }}</td>
                <td><button type="button" class="btn btn-outline-danger btn-remove" id="{{ item._id }}">Excluir</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="">
          <h5 class="">Sem produtos </h5>
    </div>
    </div>

{% endif %}

{% endblock %}

{% block script %}
  	<script src="/js/insertProducts.js" charset="utf-8"></script>
{% endblock %}