{% extends '../layouts/base.html' %}

{% block title %}
	Meu Produto {{ product.id }}
{% endblock %}

{% block content %}
<div class="p-5 jumbotron mt-4">
	<h3 class="big float-right">{{ product.price.toLocaleString('pt-BR', { minimumFractionDigits: 2 , style: 'currency', currency: 'BRL' }) }} </h3>
	<h1 class="display-4">{{ product.name }}</h1>
	<p clas="small"><strong>Ref: {{ product.id }}</strong></p>
	<input type="hidden" name="productId" id="productId" value="{{ product.id }}" />
	<!-- <img src="{{ product.url[0] }}" alt=""> -->

	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
		  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
		  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		{% for image in product.url %}
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img class="d-block w-100" src="{{image}}" alt="First slide">
		  </div>
		</div>
		{%endfor%}

		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="sr-only">Next</span>
		</a>
	  </div>

	<p class="p-3">{{ product.description | striptags(true) | escape | nl2br }}</p>

	<hr/>

	<button id="addProduct" class="btn float-right btn-danger">Adicionar produto</button>
	
	<div class="clearfix"></div>
</div>

{% endblock %}

{% block script %}
  	<script src="/js/products.js" charset="utf-8"></script>
{% endblock %}