{% extends '../template.html' %}

{% block content %}
<div class="w-75 mx-auto">
    <table class="table table-striped">
        <div class="mt-5">
            <h2 class="display-6 mt-4 mb-4">LISTA DE CONTATOS</h2>
            <div id="list-products"></div>
        </div>
        <thead class="thead-dark">
            <tr class="row">
                <th scope="col" class="col-3">Email</th>
                <th scope="col" class="col-3">Assunto</th>
                <th scope="col" class="col-3">Status</th>
                <th scope="col" class="col-3">Ação</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr class="row align-middle">
                    <td class="col-3 align-middle text-truncate">{{ contact.email }}</td>
                    <td class="col-3 align-middle text-truncate">{{ contact.subject }}</td>
                    <td class="col-3 align-middle text-truncate">
                        {% if contact.status == true %}
                            Respondido
                        {% else %}
                            Não Respondido
                        {% endif %}
                    </td>
                    <td class="col-3 align-middle text-truncate">
                        <a href="/admin/contacts/answer" class="btn btn-warning">Responder</a>
                    </td>
                </tr>
            {% else %}
                <tr class="row align-middle">
                    <td class="col-12 align-middle d-flex justify-content-center">Não há registros</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block title %}
Lista de Contatos
{% endblock %}

{% block script %}
<script src="/js/contactlist.js" charset="utf-8"></script>
{% endblock %}